.ChatBox{
    background-color: black;
    
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.RoomPage{
    background-color: black;
    
    margin: 0;
}

body{
    background-color: black;
}

.MessageInput{
    display:inline-flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width : 100%;
    height: 50px;
    background-color: aqua;
    
}