.MuiButtonBase-root.MuiButton-root.MuiButton-text.Room{
    background-color: violet;
    width: 100%;
    font-family: monospace;
    font-size: large;
    
    justify-content: flex-start;
}
html body div#root div.App div div.RoomListings div.RoomListing button.MuiButtonBase-root.MuiButton-root.MuiButton-text.Room span.MuiButton-label {
    display: block;
    color: yellow;
    text-align: left;
    
}

.Room{
    margin: 100px;
}